/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size (opinionated).
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
     tab-size: 4;
  /* 3 */
}

/*
Sections
========
*/
/**
1. Remove the margin in all browsers.
2. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  margin: 0;
  /* 1 */
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  /* 2 */
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, 'Liberation Mono', Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
*/
button,
select {
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

.nav-list, .contact-nav, .feature-list, .feature-list__network, .presentation__greed, .contact-footer, .contact-footer:not(:last-child), .footer-list, .button-filter, .cards-list__item, ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.backdrop-form__hiden, .visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.logo {
  color: #2196F3;
  font-family: raleway, sans-serif;
  text-decoration: none;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}

.logo__accent {
  color: #212121;
}

@media screen and (min-width: 768px) {
  .logo__accent {
    margin-right: 88px;
  }
}

@media screen and (min-width: 1200px) {
  .logo__accent {
    margin-right: 93px;
  }
}

@media screen and (max-width: 767px) {
  .nav-list {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 768px) {
  .nav-list__item:not(:last-child) {
    margin-right: 50px;
  }
  .nav-list__link {
    color: #212121;
    font-family: Roboto, sans-serif;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-decoration: none;
    padding-top: 32px;
    padding-bottom: 32px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transition-duration: 250ms;
            transition-duration: 250ms;
    -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .nav-list__link:hover::after {
    opacity: 1;
  }
  .nav-list__link::after {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 5px;
    background-color: #2196F3;
    left: 0;
    bottom: 5px;
    opacity: 0;
  }
  .nav-list__active::after {
    opacity: 1;
    bottom: 0;
  }
  .nav-list__active:hover::after {
    bottom: 5px;
  }
}

@media screen and (max-width: 767px) {
  .contact-nav {
    display: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contact-nav {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (min-width: 768px) {
  .contact-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: auto;
  }
}

@media screen and (min-width: 768px) {
  .contact-nav__item:not(:last-child) {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .contact-nav__item:not(:last-child) {
    margin-right: 50px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .nav-list {
    margin-right: 84px;
  }
}

.contact-nav__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #757575;
  text-decoration: none;
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: 0.02em;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-nav__link:hover, .contact-nav__link:focus {
  color: #2196F3;
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-nav__icon {
  fill: currentColor;
  margin-right: 10px;
}

.page-header {
  height: 80px;
}

.container-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom: 1px solid #ECECEC;
  min-width: 320px;
  height: 80px;
}

@media screen and (min-width: 480px) {
  .container-header {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container-header {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container-header {
    width: 1200px;
  }
}

.nav {
  display: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 767px) {
  .container-header {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .menu-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    padding: 0;
    border: none;
    cursor: pointer;
    min-height: 40px;
    min-width: 40px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    top: 10px;
    right: 15px;
    background-color: #FFFFFF;
  }
  .menu-button:hover, .menu-button:focus {
    fill: #2196F3;
  }
  .menu-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 48px 40px;
    background-color: #FFFFFF;
    z-index: 999;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .menu-container.is-open {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .menu-container .menu-button,
  .nav .menu-button {
    position: absolute;
    top: 16px;
    right: 16px;
    color: #FFFFFF;
  }
  .mobile-menu {
    padding: 0;
    margin: 0;
    list-style: none;
    margin-bottom: 306px;
  }
  .mobile-menu__link {
    display: block;
    text-decoration: none;
    font-weight: 500;
    font-size: 40px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #212121;
  }
  .mobile-menu__link:hover, .mobile-menu__link:focus {
    color: #2196F3;
  }
  .mobile-menu :not(:last-child) {
    margin-bottom: 32px;
  }
  .mobile-contact__phone {
    text-decoration: none;
    font-weight: 500;
    font-size: 34px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2196F3;
  }
  .tel-margin {
    margin-bottom: 32px;
  }
  .mobile-contact__link {
    text-decoration: none;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #757575;
  }
  .mail-margin {
    margin-bottom: 64px;
  }
  .mobile-network {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .mobile-network__link {
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2196F3;
    margin-right: 10px;
  }
  .mobile-network__link::after {
    content: "";
    width: 22px;
    height: 0px;
    left: 135px;
    top: 726px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    margin-left: 10px;
  }
}

@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
  .menu-container {
    display: none;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 99;
  opacity: 0;
  pointer-events: none;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  border-radius: 4px;
  background-color: #FFFFFF;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media screen and (max-width: 1199px) {
  .modal {
    width: 450px;
    height: 609px;
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}

.close {
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #FFFFFF;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: absolute;
  top: 8px;
  right: 8px;
}

.close-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  -webkit-transform: translate(25%, 0);
          transform: translate(25%, 0);
}

.close-item:hover {
  fill: #2196F3;
}

.backdrop-form {
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;
}

@media screen and (max-width: 1199px) {
  .backdrop-form {
    width: 450px;
    height: 609px;
  }
}

@media screen and (min-width: 1200px) {
  .backdrop-form {
    width: 528px;
    height: 581px;
  }
}

.backdrop-form__title {
  font-weight: bold;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  color: #212121;
  margin-bottom: 12px;
}

.backdrop-form__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  color: #757575;
  text-align: left;
  margin-bottom: 4px;
}

.backdrop-form__input {
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  height: 41px;
  margin-bottom: 10px;
  font-family: roboto,sans-serif;
  color: var(--primary-text-color);
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  padding-left: 42px;
}

.backdrop-form__input:focus {
  outline: none;
  border-color: #2196F3;
  -webkit-transition-property: border-color;
  transition-property: border-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop-form__area {
  font-family: Roboto, sans-serif;
  color: #757575;
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  width: 448px;
  height: 120px;
  resize: none;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 12px;
  padding-bottom: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  height: 120px;
  margin-bottom: 20px;
}

.backdrop-form__button {
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  margin-top: 30px;
  background-color: #2196F3;
  color: #FFFFFF;
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.9;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  border-radius: 4px;
  padding: 10px 32px;
  border: none;
}

.backdrop-form__hiden {
  margin: 0;
  padding: 0;
}

.backdrop-form__check {
  position: relative;
}

@media screen and (max-width: 1199px) {
  .backdrop-form__check {
    font-size: 12px;
    letter-spacing: 0.03em;
  }
}

.backdrop-form__checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 0;
  left: -5%;
  width: 16px;
  height: 16px;
  background-image: url(../images/Vector.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

@media screen and (max-width: 1199px) {
  .backdrop-form__checkbox {
    font-size: 12px;
    letter-spacing: 0.03em;
  }
}

.backdrop-form__hiden:checked + .backdrop-form__checkbox {
  background-image: url(../images/icon-check.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

.backdrop-form__field {
  display: block;
  position: relative;
  margin-bottom: 4px;
}

.backdrop-form__icon {
  position: absolute;
  top: 50%;
  left: 10px;
  -webkit-transform: translateY(-20%);
          transform: translateY(-20%);
  display: inline-block;
}

.backdrop-form__input:focus,
.backdrop-form__area:focus {
  outline: none;
  border-color: #2196F3;
  -webkit-transition-property: border-color;
  transition-property: border-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop-form__input:focus + .backdrop-form__icon {
  fill: #2196F3;
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop-form__contract:focus,
.backdrop-form__contract:hover,
.backdrop-form__contract {
  color: #2196F3;
}

@media screen and (max-width: 1199px) {
  .backdrop-form__contract:focus,
  .backdrop-form__contract:hover,
  .backdrop-form__contract {
    font-size: 12px;
    letter-spacing: 0.03em;
  }
}

.backdrop-form__area::-webkit-input-placeholder {
  color: #757575;
  background-color: #FFFFFF;
  font-family: Roboto, sans-serif;
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.01em;
}

.backdrop-form__area:-ms-input-placeholder {
  color: #757575;
  background-color: #FFFFFF;
  font-family: Roboto, sans-serif;
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.01em;
}

.backdrop-form__area::-ms-input-placeholder {
  color: #757575;
  background-color: #FFFFFF;
  font-family: Roboto, sans-serif;
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.01em;
}

.backdrop-form__area::placeholder {
  color: #757575;
  background-color: #FFFFFF;
  font-family: Roboto, sans-serif;
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.01em;
}

.hero {
  margin-left: auto;
  margin-right: auto;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #2F303A;
  text-align: center;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/backgroundmobile@1x.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/backgroundmobile@1x.jpg);
  background-size: cover;
  padding-top: 118px;
  padding-bottom: 198px;
}

@media (min: device pixel ratio 2px), (min: resolution 192dpi), (min: resolution 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/backgroundmobile@2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/backgroundmobile@2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/backgroundtabl@1x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/backgroundtabl@1x.jpg);
    background-size: cover;
    padding-top: 118px;
    padding-bottom: 198px;
  }
}

@media screen and (min-width: 768px) and (min: device pixel ratio 2px), screen and (min-width: 768px) and (min: resolution 192dpi), screen and (min-width: 768px) and (min: resolution 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/backgroundtabl@2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/backgroundtabl@2x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    max-width: 1600px;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/background@1x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/background@1x.jpg);
    background-size: cover;
    padding: 200px 0;
  }
}

@media screen and (min-width: 1200px) and (min: device pixel ratio 2px), screen and (min-width: 1200px) and (min: resolution 192dpi), screen and (min-width: 1200px) and (min: resolution 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/background@2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/background@2x.jpg);
  }
}

.hero__title {
  color: #FFFFFF;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin: 0 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
  max-width: 360px;
}

@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.4;
    max-width: 696px;
  }
}

.button-primary {
  background-color: #2196F3;
  color: #FFFFFF;
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.9;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  border-radius: 4px;
  padding: 10px 32px;
  border: none;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

@media screen and (min-width: 1200px) {
  .section-advantages {
    padding-bottom: 0;
  }
}

.section-title {
  color: #212121;
  font-weight: bold;
  text-align: center;
  font-size: 28px;
  line-height: 1.2;
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .section-title {
    font-size: 36px;
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 1199px) {
  .sdection-is-hiden {
    display: none;
  }
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  min-width: 320px;
  width: 480px;
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.feature-list {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.feature-list__greed {
  width: 450px;
}

@media screen and (max-width: 767px) {
  .feature-list__greed:not(:last-child) {
    margin-bottom: 30px;
  }
}

.feature-list {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.feature-list__greed {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

@media screen and (min-width: 768px) {
  .feature-list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;
  }
  .feature-list__greed {
    -ms-flex-preferred-size: calc(100% / 2 - 30px);
        flex-basis: calc(100% / 2 - 30px);
    margin-top: 30px;
    margin-left: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .feature-list__greed {
    -ms-flex-preferred-size: calc(100% / 4 - 30px);
        flex-basis: calc(100% / 4 - 30px);
  }
}

.feature-list__title {
  color: #212121;
  font-weight: bold;
  line-height: 1.1;
  margin-bottom: 10px;
  text-transform: uppercase;
  text-align: center;
}

.feature-list__image {
  height: 120px;
  background-color: #F5F4FA;
  border-radius: 4px;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-bottom: 30px;
  text-align: center;
}

.feature-list__bacground {
  width: 70px;
  height: 70px;
}

.centre {
  text-align: center;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  width: calc((100% - 90px)/4);
}

.section-background {
  background-color: #F5F4FA;
}

.feature-list__comands {
  background-color: #FFFFFF;
  padding-top: 30px;
  padding-bottom: 30px;
  border-radius: 0px 0px 4px 4px;
}

.feature-list__network {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #FFFFFF;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 16px;
}

.feature-list__margin:not(:last-child) {
  margin-right: 10px;
}

.feature-list__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 44px;
  width: 44px;
  background-color: #FFFFFF;
  border-radius: 50%;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.feature-list__icon:hover, .feature-list__icon:focus {
  background-color: #2196F3;
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.feature-list__icon:hover > .feature-list__svg,
.feature-list__icon:focus > .feature-list__svg {
  fill: #FFFFFF;
}

.feature-list__svg {
  margin: auto;
  fill: #AFB1B8;
}

.presentation__greed {
  width: calc((100% - 60px)/3);
}

.presentation__greed:not(:last-child) {
  margin-right: 30px;
}

.presentation__image {
  position: relative;
}

.presentation__title {
  text-transform: uppercase;
  color: #FFFFFF;
  font-weight: bold;
  line-height: 1.2;
  font-size: 14px;
  position: absolute;
  bottom: 0;
  width: 370px;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.clients-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (min-width: 1200px) {
  .clients-list {
    margin-bottom: -30px;
    margin-left: -30px;
  }
  .clients-list__margin {
    -ms-flex-preferred-size: calc(100% / 6 - 30px);
        flex-basis: calc(100% / 6 - 30px);
    margin-bottom: 30px;
    margin-left: 30px;
  }
}

@media screen and (max-width: 767px) {
  .clients-list {
    margin-bottom: -30px;
    margin-left: -30px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .clients-list__margin {
    -ms-flex-preferred-size: calc(100% / 2 - 30px);
        flex-basis: calc(100% / 2 - 30px);
    margin-bottom: 30px;
    margin-left: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .clients-list {
    margin-bottom: -30px;
    margin-left: -30px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .clients-list__margin {
    -ms-flex-preferred-size: calc(100% / 3 - 30px);
        flex-basis: calc(100% / 3 - 30px);
    margin-bottom: 30px;
    margin-left: 30px;
  }
}

.clients-list__clients {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 92px;
  background-color: #FFFFFF;
  border-radius: 4px;
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 16px;
  padding-bottom: 16px;
  border: 1px solid #AFB1B8;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-list__clients:hover > .clients-list__bacground,
.clients-list__clients:focus > .clients-list__bacground {
  fill: #2196F3;
}

.clients-list__clients:focus, .clients-list__clients:hover {
  border: 1px solid #2196F3;
  -webkit-transform: translate(0px, 20px);
          transform: translate(0px, 20px);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-list__bacground {
  width: 106px;
  height: 60px;
  fill: #AFB1B8;
  margin: auto;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2F303A;
}

.container-footer {
  margin: 0;
  padding: 0;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  min-width: 320px;
  width: 480px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .container-footer {
    width: 768px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {
  .container-footer {
    width: 1200px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (max-width: 767px) {
  .footer-left {
    text-align: center;
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-left {
    margin-left: 76px;
    margin-right: 165px;
    margin-bottom: 60px;
    width: 232px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-left {
    margin-right: 70px;
  }
}

.logo__footer {
  color: #FFFFFF;
}

.footer-address {
  color: #FFFFFF;
  font-style: normal;
  margin-top: 20px;
}

.contact-footer__link {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}

.collor-address {
  color: #FFFFFF;
}

.contact-footer:not(:last-child) {
  margin-bottom: 9px;
}

.text-footer {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  margin-bottom: 20px;
}

@media screen and (max-width: 1200px) {
  .text-footer {
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  .footer-right {
    text-align: center;
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-right {
    margin-right: 93px;
  }
}

.footer-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 768px) {
  .footer-list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 60px;
  }
}

.footer-list__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 44px;
  width: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-list__icon:hover, .footer-list__icon:focus {
  background-color: #2196F3;
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-list__margin:not(:last-child) {
  margin-right: 10px;
}

.footer-list__contact {
  margin: auto;
  fill: #FFFFFF;
}

@media screen and (max-width: 767px) {
  .footer-form {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-form {
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 1200px) {
  .footer-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    width: 570px;
  }
}

.footer-form input {
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: #2F303A;
  border-radius: 4px;
  padding-left: 16px;
  color: #FFFFFF;
  margin-right: 12px;
  width: 450px;
}

@media screen and (max-width: 767px) {
  .footer-form input {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-form input {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-form input {
    width: 358px;
  }
}

.footer-form__subscribe {
  display: block;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 1.2;
  color: #FFFFFF;
  margin-bottom: 20px;
}

@media screen and (max-width: 1200px) {
  .footer-form__subscribe {
    text-align: center;
  }
}

.footer-form__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 200px;
  background-color: #2196F3;
  color: #FFFFFF;
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.9;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.06em;
  border-radius: 4px;
  padding: 10px 28px 10px 29px;
  border: none;
}

@media screen and (max-width: 1200px) {
  .footer-form__button {
    margin-left: auto;
    margin-right: auto;
  }
}

.logo-secondary {
  color: #212121;
}

.button-filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 767px) {
  .button-filter {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.button-filter__list:not(:last-child) {
  margin-right: 8px;
}

@media screen and (max-width: 767px) {
  .button-filter__list:not(:last-child) {
    margin-bottom: 15px;
  }
}

.button-filter__decoration {
  background-color: #F5F4FA;
  color: #212121;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  border-radius: 4px;
  padding: 6px 22px;
  border: none;
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button-filter__decoration:hover,
.button-filter__decoration:focus,
.button-filter__carrent {
  background-color: #2196F3;
  color: #FFFFFF;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  -webkit-transform: translate(0px, -5px);
          transform: translate(0px, -5px);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.cards-list {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media screen and (max-width: 767px) {
  .cards-list {
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .cards-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 50px;
  }
}

.cards-list__item {
  margin-bottom: 30px;
  outline: 1px solid #EEEEEE;
}

@media screen and (max-width: 767px) {
  .cards-list__item {
    width: 100%;
  }
  .cards-list__item:last-child {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .cards-list__item {
    margin-right: 30px;
    width: calc((100% - 60px)/3);
  }
  .cards-list__item:nth-child(3n) {
    margin-right: 0;
  }
  .cards-list__item:nth-last-child(-n+3) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 767px) and (max-width: 1199px) {
  .cards-list {
    margin-bottom: -30px;
    margin-left: -30px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .cards-list__item {
    -ms-flex-preferred-size: calc(100% / 2 - 30px);
        flex-basis: calc(100% / 2 - 30px);
    margin-bottom: 30px;
    margin-left: 30px;
  }
}

.cards-list__shadow {
  text-decoration: none;
  display: block;
  margin: 0;
  padding: 0;
}

.cards-list__shadow:hover, .cards-list__shadow:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.cards-list__shadow:hover .thamb__overlay-text {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.thamb {
  position: relative;
  overflow: hidden;
}

.size {
  width: 100%;
  background-size: cover;
}

.thamb__overlay-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #2196F3;
  -webkit-transform: translate(0, 100%);
          transform: translate(0, 100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-size: 18px;
  line-height: 1.6;
  color: #FFFFFF;
  padding: 63px 24px;
}

.cards-list__wrapper {
  padding: 20px 24px;
}

.cards-list__title {
  color: #212121;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin: 0;
}

.cards-list__text {
  color: #757575;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  padding: 0;
  margin: 0;
}

body {
  color: #757575;
  background-color: #FFFFFF;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
/*# sourceMappingURL=main.css.map */