.contact-nav
{
  @extend %list;
  @media screen and (max-width: 767px)
  {        
    display: none;
  } 
  @media screen and (min-width:768px) and (max-width: 1199px)
  {
    flex-wrap: wrap;    
  }
  @media screen and (min-width: 768px)
  {     
    display: flex;
    margin-left: auto;
  } 
}

.contact-nav__item:not(:last-child)
{ 
  @media screen and (min-width: 768px)
  {         
    margin-bottom: 10px;  
  }
  @media screen and (min-width: 1200px)
  {         
    margin-right: 50px;  
  }
}

.nav-list
{
  @media screen and (min-width: 768px) and (max-width: 1199px)
  {         
    margin-right: 84px;  
  }
}

.contact-nav__link 
{
  display: flex;
  align-items: center;
  color: $primary-text-color;
  text-decoration: none;
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: 0.02em;
  transform: scale(1.0);
  transition-duration: $time;
  transition-timing-function: $cubic;
  &:hover,
  &:focus
  {
    color: $secondary-linc-color;
    transform: scale(1.15);
    transition-duration: $time;
    transition-timing-function: $cubic;
  }
}

.contact-nav__icon
{
  fill: currentColor;
  margin-right: 10px;
}