.logo 
{
    color: $secondary-linc-color;
    font-family: $text-raleway;
    text-decoration: none;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
   
}

.logo__accent
{
    color: $title-text-color;
    @media screen and (min-width: 768px)
    {
        margin-right: 88px;        
    }

    @media screen and (min-width: 1200px)
    {
        margin-right: 93px;        
    }
}