.button-filter
{
  @extend %list;  
  display: flex ;
  justify-content: center;
  @media screen and (max-width: 767px)
  {
    flex-wrap: wrap;
    justify-content: flex-start;
  }
}

.button-filter__list:not(:last-child)
{
  margin-right: 8px;
  @media screen and (max-width: 767px)
  {
    margin-bottom: 15px;
  }
}

.button-filter__decoration
{
  background-color: $secondary-page-color;
  color: $title-text-color; 
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  border-radius: 4px;
  padding: 6px 22px;
  border: none;
  transform: translate(0px, 0px);
  transition-duration: $time;
  transition-timing-function: $cubic;
}

.button-filter__decoration:hover,
.button-filter__decoration:focus,
.button-filter__carrent
{
  background-color: $button-color;
  color: $header-color;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  transform: translate(0px, -5px);
  transition-duration: $time;
  transition-timing-function: $cubic;
}