.presentation__greed
{
    @extend %list;
    width: calc((100% - 60px)/3);
    &:not(:last-child)
    { 
        margin-right: 30px;
    }
}
 
.presentation__image
{
    position: relative;
}

.presentation__title
{
    text-transform: uppercase;
    color: $header-color;
    font-weight: bold;
    line-height: 1.2;
    font-size: 14px;
    position: absolute;
    bottom: 0;
    width: 370px;
    height: 70px;
    background: rgba(47, 48, 58, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;      
} 