$primary-text-color: #757575;
$title-text-color: #212121;
$hero-text-color: #FFFFFF;
$secondary-linc-color:#2196F3;
$footer-text-color: rgba(255, 255, 255, 0.6);
$primary-page-color:#FFFFFF;
$secondary-page-color:#F5F4FA;
$footer-color: #2F303A;
$header-color: #FFFFFF;
$button-color: #2196F3;
$gradient-color: rgba(47, 48, 58, 0.4);
$time: 250ms;
$cubic: cubic-bezier(0.4, 0, 0.2, 1);
$text-raleway: raleway,sans-serif;
$text-roboto: Roboto,sans-serif;